header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ucf-lib.png");
  background-size: cover;
  background-position: 25% 75%;
  min-height: 50vh;
  position: relative;
}
header nav {
  filter: brightness(100%);
  width: 100%;
  background-color: #181a1b;
}
header nav .nav-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-height: 8vh;
}
header nav .nav-container #logo {
  z-index: 10;
  display: flex;
  align-items: center;
}
header nav .nav-container #logo h1 {
  text-align: center;
  color: #3b82f6;
  font-family: "Alfa Slab One", "Poppins";
  font-size: x-large;
  font-weight: 100;
}
header nav .nav-container .nav-links {
  z-index: 1000;
}
header nav .nav-container .nav-links li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 2rem;
}
header nav .nav-container .nav-links a {
  text-decoration: none;
  letter-spacing: 2px;
  color: #ffffff;
}
header nav .nav-container .nav-links .link::after {
  content: "";
  position: relative;
  display: block;
  width: 0%;
  height: 2px;
  top: 3px;
  margin: auto;
  background: #3b82f6;
  transition: width 0.3s ease;
}
header nav .nav-container .nav-links .link:hover::after {
  width: 100%;
}
header .mobile-menu {
  position: relative;
  z-index: 1000;
}
header .mobile-menu .container {
  padding-top: 0;
}
header .mobile-menu .container .mobile-menu-links ul {
  justify-content: center;
  align-items: center;
  list-style-type: none;
}
header .mobile-menu .container .mobile-menu-links ul li {
  margin: 0rem 1rem;
}
header .mobile-menu .container .mobile-menu-links ul .link::after {
  content: "";
  position: relative;
  display: block;
  width: 0;
  height: 2px;
  top: 3px;
  margin: auto;
  background: #3b82f6;
  transition: width 0.3s ease;
}
header .mobile-menu .container .mobile-menu-links ul .link:hover::after {
  width: 100%;
}

.title {
  z-index: 5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title h1, .title p {
  color: #ffffff;
}
.title h1 {
  letter-spacing: 2px;
  white-space: nowrap;
  text-align: center;
  font-size: clamp(2rem, 5vw, 4rem);
  font-family: "Alfa Slab One", "Poppins";
  font-weight: 400;
}
.title p {
  color: #dcdcdc;
  line-height: 1;
  font-size: larger;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem;
}
.title .title-btns {
  white-space: nowrap;
  text-align: center;
  margin-top: 1rem;
}
.title .title-btns .blue-link-undlerine {
  color: #3783ff;
}

@media screen and (max-width: 999px) {
  header nav .container {
    padding-bottom: 0.75rem;
  }
  header nav .nav-container {
    justify-content: center;
  }
  header .title {
    top: 55%;
  }
}
@media screen and (max-width: 768px) {
  .title {
    width: 90%;
  }
  header nav .nav-container #logo img {
    width: 80px;
  }
}
@media screen and (max-width: 500px) {
  header nav .nav-container #logo {
    font-size: 1.5rem;
  }
  header nav .mobile-menu .container .mobile-menu-links ul li {
    margin: 0 0.5rem;
  }
  header .hero span {
    max-width: 100%;
  }
  header .hero p {
    width: 100%;
  }
}
@media screen and (min-height: 900px) {
  header {
    min-height: 50vh;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  padding: 0;
  line-height: 1.6;
  background: #181a1b;
}
body .noscroll {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.main-font {
  font-family: "Alfa Slab One", "Poppins";
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.my-1 {
  margin: 1rem 0;
}

.mx-1 {
  margin: 0 0.5rem;
}

.h-100 {
  height: 100%;
}

.container {
  max-width: 1200px;
  padding: 1.5rem 1.5rem;
  margin: auto;
  overflow: hidden;
  transition: all 0.3s ease;
}

.text-blue {
  color: #3b82f6;
}

.text-white {
  color: #ffffff;
}

.text-grey {
  color: grey;
}

.text-dark-grey {
  color: #181a1b;
}

.btn-blue-outline, .btn-dark, .btn-blue, .btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  transition: all 0.3s;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.btn-blue {
  color: #ffffff;
  background-color: #3b82f6;
  border: 2px solid #3b82f6;
}
.btn-dark {
  color: #ffffff;
  background-color: #181a1b;
}
.btn-blue-outline {
  color: #3b82f6;
  background-color: transparent;
  border: 2px solid #3b82f6;
}
.btn-blue:hover {
  transition: all 0.3s ease;
  background: #0b63f3;
  border: 2px solid #0b63f3;
}
.btn-blue-outline:hover {
  color: white;
  background-color: #3b82f6;
}
.btn-small {
  padding: 0.5rem 1rem;
}

.section-subtext {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.blue-link-underline {
  color: #3b82f6;
  border-bottom: 1px solid #3b82f6;
}

.flex {
  display: flex;
}

.white-image {
  filter: brightness(0) invert(1);
}

#btn-backtotop {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 15%;
  transition: 0.3s;
  visibility: hidden;
  opacity: 0;
}
#btn-backtotop.show {
  opacity: 1;
  visibility: visible;
}
#btn-backtotop i {
  font-size: 2rem;
  color: white;
}

#btn-backtotop:hover {
  color: #3b82f6;
  border: 3px solid #3b82f6;
}

@media screen and (max-width: 999px) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  .hide-for-desktop {
    display: none;
  }
}

.projects {
  background-color: #ffffff;
  padding: 3rem 0;
}
.projects h1 {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.projects .project-row {
  display: flex;
  margin-bottom: 3rem;
}
.projects .project-row .project-left {
  width: 50%;
  margin-right: 2rem;
}
.projects .project-row .project-left img {
  width: 100%;
  border: 1px solid lightgray;
}
.projects .project-row .project-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.projects .project-row .project-right h3 {
  font-size: 1.25rem;
}
.projects .project-row .project-right .tech-stack-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 1rem;
}
.projects .project-row .project-right .tech-stack-list p {
  margin-right: 1rem;
}
.projects .project-row .project-right .tech-stack-list li {
  margin-right: 20px;
  font-size: 1.5rem;
}
.projects .project-row .project-right .project-links {
  margin-top: 1rem;
}

@media screen and (max-width: 500px) {
  .project-left {
    min-width: 200px;
  }
}
@media screen and (min-width: 501px) and (max-width: 700px) {
  .project-left {
    min-height: 300px;
  }
}
@media screen and (min-width: 701px) and (max-width: 859) {
  .project-left {
    min-height: 350px;
  }
}
.skills {
  padding: 3rem 0;
  position: relative;
  overflow: hidden;
}
.skills h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}
.skills .container {
  padding: 1rem 0;
}
.skills .skills-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 0rem 1rem;
}
.skills .skills-categories h3 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 100;
  font-family: "Alfa Slab One", "Poppins";
  text-align: center;
}
.skills .skills-categories .skills-icons {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 0 auto;
}
.skills .skills-categories .skills-icons svg {
  margin: 0.5rem;
  width: 90px;
}
@media (max-width: 420px) {
  .skills .skills-categories .skills-icons svg {
    width: 70px;
  }
}
.skills .skills-categories .skills-icons li {
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1rem;
  margin: 1rem;
}
@media (max-width: 420px) {
  .skills .skills-categories .skills-icons li {
    margin: 1rem 0.75rem;
  }
}
.skills .skills-categories .skills-icons li .aws-logo {
  background: white;
  padding: 10px;
  border-radius: 3px;
}
.skills .skills-categories .skills-icons li:hover {
  transform: scale(1.3);
}

.education {
  background-color: #ffffff;
  padding-bottom: 3rem;
}
.education .container {
  max-width: 900px;
}
.education .container h2 {
  text-align: center;
  color: #000000;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.education .container .education-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
  padding: 40px;
  border-radius: 3px;
}
.education .container .education-card > *:last-child {
  margin-top: 40px;
}
@media (max-width: 500px) {
  .education .container .education-card {
    padding: 20px;
  }
}
.education .container .education-card .education-card-column {
  display: flex;
}
.education .container .education-card .education-card-column .card-column-image {
  flex: 0 0 20%;
  background-image: url("../img/ucf-logo.png");
  background-position: center;
  background-size: contain;
}
.education .container .education-card .education-card-column .card-column-large {
  flex: 0 0 80%;
  padding-left: 1.5rem;
}
.education .container .education-card .education-card-column .card-column-large > * {
  margin: 0.25rem 0;
}
.education .container .education-card .education-card-column .card-column-large h4 {
  font-weight: normal;
}
.education .container .education-card .education-card-column .card-column-large ul {
  padding-left: 1.5rem;
}
.education .container .education-card .education-card-column .card-column-large hr {
  border: 0;
  border-top: 1px solid #eee;
  margin-top: 40px;
}

.contact {
  background-color: #ffffff;
  padding: 3rem 0;
}
.contact h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 2.5rem;
}
.contact .card-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
  flex-wrap: wrap;
}
.contact .card-container .card {
  background: #ffffff;
  width: 260px;
  margin: 20px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
  border-radius: 3px;
}
.contact .card-container .card i {
  font-size: 3.5rem;
  color: #3b82f6;
  margin-bottom: 1rem;
  transition: 0.4s;
}
.contact .card-container .card i:hover {
  transform: translateY(-20%);
}
.contact .card-container .card > * {
  margin: 0.5rem;
}
.contact form {
  max-width: 600px;
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 0.15rem 0.6rem rgba(43, 52, 56, 0.15);
  padding: 2rem;
}
.contact form h2 {
  text-align: center;
  margin: 1.5rem 0;
}
.contact form .form-group input {
  margin: 0.75rem 0;
  width: 100%;
  border-radius: 3px;
  border: 1px solid #000000;
  padding: 0.75rem;
  font-size: 1rem;
}
.contact form .form-group input:focus {
  outline: none;
}
.contact form .form-group textarea {
  width: 100%;
  border-radius: 3px;
  margin: 0.75 0;
  border: 1px solid black;
  padding: 0.75rem;
  padding-top: 0.5rem;
  font-size: 1rem;
  resize: vertical;
}
.contact form .form-group textarea:focus {
  outline: none;
}
.contact form button {
  width: 100%;
  margin: 0.75rem 0;
  padding: 0.75rem 0;
  border-radius: 3px;
  border: none;
  background: #3b82f6;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1.5px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.contact form button:hover {
  background: #0b63f3;
}
.contact form #status {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  border-radius: 3px;
  color: #00b700;
}
.contact form #status.success {
  color: #00b700;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.footer {
  background: #181a1b;
  padding: 1.5rem 0;
  color: white;
  max-height: 10vh;
}
.footer .foot-flex {
  display: flex;
  justify-content: space-between;
}
.footer .foot-flex h1 {
  text-align: center;
  color: #3b82f6;
  font-family: "Alfa Slab One", "Poppins";
  font-size: x-large;
  font-weight: 100;
}
.footer .foot-flex #logo-footer {
  width: 100px;
  margin-top: 0 auto;
}
.footer .foot-flex .footer-icon-links a {
  margin-left: 2rem;
  transition: 0.3s;
}
.footer .foot-flex .footer-icon-links a:hover {
  color: #3b82f6;
}
.footer .foot-flex .footer-icon-links a i {
  transition: 0.3s;
}
.footer .foot-flex .footer-icon-links a i:hover {
  transform: translateY(-20%);
}

@media screen and (max-width: 500px) {
  .footer .foot-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer .foot-flex .top-scroll-button {
    margin-top: 2rem;
  }
  .footer .foot-flex .footer-icon-links {
    margin-top: 2rem;
  }
  .footer .foot-flex .footer-icon-links a {
    margin: 0.1rem;
  }
}

/*# sourceMappingURL=style.css.map */
