.footer {
    background: $dark-grey;
    padding: 1.5rem 0;
    color: white;

    .foot-flex {
        display: flex;
        justify-content: space-between;

        #logo-footer {
            width: 100px;
            margin-top: 0 auto;
        }

        .footer-icon-links a {
            margin-left: 2rem;
            transition: 0.3s;
            &:hover {
                color: $color-blue;
            }

            i {
                transition: 0.3s;
                &:hover {
                    transform: translateY(-20%);
                }
            }
        }
    }
}

@media screen and (max-width: 500px){
    .footer {
        .foot-flex {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            .top-scroll-button {
                margin-top: 2rem;
            }

            .footer-icon-links {
                margin-top: 2rem;

                a {
                    margin: 0.1rem;
                }
            }
        }
    }
}

