.projects {
    background-color: $text-color;
    padding: 3rem 0;
    h1 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

    .project-row {
        display: flex;
        margin-bottom: 3rem;

        .project-left {
            width: 50%;
            margin-right: 2rem;
            img {
                width: 100%;
                border: 1px solid lightgray;
            }
        }

        .project-right {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h3 {
                font-size: 1.25rem;
            }

            .tech-stack-list {
                display: flex;
                flex-wrap: wrap;
                list-style-type: none;
                margin-top: 1rem;

                p {
                    margin-right: 1rem;
                }

                li {
                    margin-right: 20px;
                    font-size: 1.5rem;
                }
            }

            .project-links {
                margin-top: 1rem;
            } 
        }
    }
}

@media screen and (max-width: 500px) {
    .project-left {
        min-width: 200px;
    }
}

@media screen and (min-width: 501px) and (max-width: 700px) {
    .project-left {
        min-height: 300px;
    }
}

@media screen and (min-width: 701px) and (max-width: 859) {
    .project-left {
        min-height: 350px;
    }
}