.skills {
    padding: 3rem 0;
    position: relative;
    overflow: hidden;

    h2 {
        text-align: center;
        margin-bottom: 3rem;
        font-size: 2.5rem;
    }

    .container {
        padding: 6rem 0;
    }

    .skills-icons {
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1100px;
        margin: 0 auto;

        svg {
            margin: 0.5rem;
            width: 90px;

            @media (max-width: 420px) {
                width: 70px;
            }
        }

        li {
            transition: 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ffffff;
            font-size: 1rem;
            margin: 1rem;

            @media (max-width: 420px) {
                margin: 1rem 0.75rem;
            }

            .aws-logo {
                background: white;
                padding: 10px;
                border-radius: 3px;
            }
        }
        li:hover {
            transform: scale(1.3);
        }
    }
}